body{
	background-image: url(https://64.media.tumblr.com/tumblr_m90waaPRoO1rc95too5_400.gifv);
	background-color: #F8EDEB;
}
/* -------------------------------------------------------------------------- */
/*                                ABOUT		                                  */
/* -------------------------------------------------------------------------- */

img{
	width: 400px;
}

h1{
	font-size: 45px;
	color: #fff;
font-family: 'Amphi', sans-serif;
}

h2{
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 30px;
}

p{
	color: #fff;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
	
}

/* -------------------------------------------------------------------------- */
/*                                NAV BAR                                     */
/* -------------------------------------------------------------------------- */
#menu{
	text-align: center;
	clear: both;
	margin: 5px;
}

/* ------------------------------ unordered list ------------------------------ */
#menu ul li {
	margin: 10px 10px 0px 0px;
	list-style: none;
	display: inline-block;
	font-family: 'Amphi', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
}

/* ------------------------------ link effects ------------------------------ */
.container{

}

#menu a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
  	position: relative;
  	-webkit-transition: color 0.3s;
}

#menu a:after{
	color: #E8A598;
	content: '';
 	position: absolute;
 	left: 0;
 	height: 1em;
 	width: 100%;
 	border-bottom: 1px solid;
 	margin-top: 10px;
 	opacity: 0;
 	padding: 0px 0px 0px 0px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

#menu a:hover:after{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
}

#menu a:hover{
	color: #E8A598;
}
