body {
  background-image: url(https://64.media.tumblr.com/tumblr_m90waaPRoO1rc95too5_400.gifv);
  background-color: #f8edeb;
}
/* -------------------------------------------------------------------------- */
/*                                INDEX - HOME                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   WELCOME                                  */
/* -------------------------------------------------------------------------- */
.welcome {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  line-height: 20px;
}

.welcome h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
}

/* -------------------------------------------------------------------------- */
/*                                NAV BAR                                     */
/* -------------------------------------------------------------------------- */
#menu {
  text-align: center;
  clear: both;
  margin: 5px;
}

/* ------------------------------ unordered list ------------------------------ */
#menu ul li {
  margin: 10px 10px 0px 0px;
  list-style: none;
  display: inline-block;
  font-family: "Amphi", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

/* ------------------------------ link effects ------------------------------ */

#menu a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-transition: color 0.3s;
}

#menu a:after {
  color: #e8a598;
  content: "";
  position: absolute;
  left: 0;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  padding: 0px 0px 0px 0px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

#menu a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#menu a:hover {
  color: #e8a598;
}

/* -------------------------------------------------------------------------- */
/*                                ABOUT		                                  */
/* -------------------------------------------------------------------------- */

.bio {
  text-align: left;
  position: absolute;
  top: 1000px;
}

.bio img {
  width: 400px;
}

.bio h1 {
  font-size: 45px;
  color: #ffffff;
  font-family: "Amphi", sans-serif;
}

.bio h2 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
}

.bio p {
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}
